<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ViewAssignedTaskServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewAssignedTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTaskStatusServlet</servlet-name>
        <servlet-class>za.ac.tut.web.UpdateTaskStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignTaskServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AssignTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveEmployeeServlet</servlet-name>
        <servlet-class>za.ac.tut.web.RemoveEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTasksByStatusServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewTasksByStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllTasksServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewAllTasksServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewAssignedTaskServlet</servlet-name>
        <url-pattern>/ViewAssignedTaskServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTaskStatusServlet</servlet-name>
        <url-pattern>/UpdateTaskStatusServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignTaskServlet</servlet-name>
        <url-pattern>/AssignTaskServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveEmployeeServlet</servlet-name>
        <url-pattern>/RemoveEmployeeServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTasksByStatusServlet</servlet-name>
        <url-pattern>/ViewTasksByStatusServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllTasksServlet</servlet-name>
        <url-pattern>/ViewAllTasksServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
